@model List<Empleado>

<h1>Empleados Linq To SQL</h1>

<p>
    <a asp-controller="Empleados" asp-action="BuscadorEmpleados">
        Buscador Empleados
    </a>
</p>

<ul class="list-group">
    @foreach (Empleado emp in Model)
    {
        <li class="list-group-item">
            @emp.Apellido - @emp.Oficio
            <a asp-controller="Empleados" asp-action="Details"
                asp-route-id="@emp.IdEmpleado"
                class="btn btn-outline-danger">
                Details
            </a>
        </li>
    }
</ul>